[submodule "embassy_preempt"]
	path = embassy_preempt
	url = https://github.com/Oveln/embassy_preempt.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/Oveln/opensbi.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/Oveln/u-boot.git
[submodule "rustsbi"]
	path = rustsbi
	url = git@github.com:Oveln/rustsbi.git
[submodule "StarryOS"]
	path = StarryOS
	url = git@github.com:Oveln/StarryOS.git
