[submodule "embassy_preempt"]
	path = embassy_preempt
	url = https://github.com/Oveln/embassy_preempt.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/Oveln/opensbi.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/Oveln/u-boot.git
